<!DOCTYPE html>
<html lang="es-ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Hola, el HOME de la aplicacion</h1>
    <div class="row">
        <div class="container text-left">
            <h2>Camioneros</h2>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="/camioneros" class="btn btn-primary">Listado de camioneros</a>
                <a href="/camioneros/create" class="btn btn-success">Crear camionero nuevo</a>
            </div>
            <h2>Camiones</h2>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="/camiones" class="btn btn-primary">Listado de camiones</a>
                <a href="/camiones/create" class="btn btn-success">Crear camión nuevo</a>
           
            <h2>Paquetes</h2>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="/paquetes" class="btn btn-primary">Listado de Paquetes</a>
                <a href="/paquetes/create" class="btn btn-success">Crear Paquete nuevo</a>
            </div>
            <h2>Provincias</h2>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="/provincias" class="btn btn-primary">Listado de provincias</a>
                <a href="/provincias/create" class="btn btn-success">Crear provincias nueva</a>
            </div>
        </div>
    </div>
</body>

</html>