<!doctype html>
<html lang="es-ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar Camionero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container mt-5">
        <div class="card card-body">
            <a href="/camioneros" class="mb-2">Volver</a>
            <div class="h3 card-title">Agregar Camionero</div>
            <form>
              <div class="mb-3">
                <label class="form-label" for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" name="dni">
              </div>
              <div class="mb-3">
                <label class="form-label" for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
              </div>
              <div class="mb-3">
                <label class="form-label" for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion">
              </div>
              <div class="mb-3">
                <label class="form-label" for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono">
              </div>
              <div class="mb-3">
                <label for="salario" class="form-label">Salario</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="number" step="0.1" class="form-control" id="salario" name="salario">
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="residencia">Poblacion</label>
                <input type="text" class="form-control" id="poblacion" name="poblacion">
              </div>
              <button type="button" class="btn btn-success" onclick="crearCamionero()" id="guardar">Guardar</button>
              <div class="form-text text-danger" id="error"></div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
  <script src="/js/camioneros.js"></script>
</html>