<!doctype html>
<html lang="es-ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar provincia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container mt-5">
        <div class="card card-body">
            <a href="/provincias" class="mb-2">Volver</a>
            <div class="h3 card-title">Editar Provincia</div>
            <div class="d-flex justify-content-center">
              <div id="spinner" class="spinner-border text-center" role="status"></div>
            </div>
            <form class="d-none" id="form">
              <div class="mb-3">
                <label class="form-label" for="codigoProvincia">Codigo Provincia</label>
                <input type="text" class="form-control" id="codigoProvincia" name="codigoProvincia">
              </div>
              <div class="mb-3">
                <label class="form-label" for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
              </div>
              <button type="button" class="btn btn-success" onclick="editarProvincia()" id="guardar">Guardar</button>
              <div class="form-text text-danger" id="error"></div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
  <script src="/js/provincias.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      getProvincia()
    })
  </script>
</html>